@import "tailwindcss";

:root {
  --background: #F4F4F4;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-albert-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-albert-sans), Arial, Helvetica, sans-serif;
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
